<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elec5619.bi.mapper.PostThumbMapper">

    <resultMap id="BaseResultMap" type="com.elec5619.bi.model.entity.PostThumb">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="postId" column="postId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,
        userId,createTime,updateTime
    </sql>

    <select id="searchThumb" resultType="com.elec5619.bi.model.entity.PostThumb">
        select *
        from post_thumb
        where postId = #{postId}
        and userId = #{userId}
    </select>
</mapper>
